* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #222;
  font-family: 'Fieldwork', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 0.5em 0;
}

p, a, li {
  color: #9A9892;
  line-height: 1.5;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: #f11448;

  &:hover {
    color: #222;
  }
}
